<div class="container">
        <div class="row">
                <div class="col-12 col-md-10 col-mg-9 mx-auto">
                        <div class="text-center text-md-start">
                                <h1 class="fw-bold text-primary">Requisições para o meu departamento</h1>
                        </div>
                        <div class="text-denter text-md-start">
                                <p class="text-primary"></p>
                        </div>

                        <div class="d-grid gap-2 d-md-block mt-4">

                                <a role="button" class="btn btn-outline-primary col-md-2" routerLink="/painel"><i class="pi pi-backward

                                                me-2"></i>Voltar</a>
                        </div>
                </div>
        </div>
        <div class="col-12 col-md-10 col-mg-9 mx-auto mt-4">
                <table class="table table-light table-scriped table-hover">
                        <thead class="thead-dark text-center">
                                <tr>
                                        <th>Data de Abertura</th>
                                        <th>Ultima Atualização</th>
                                        <th>Descrição</th>
                                        <th>Departamento</th>
                                        <th>Status</th>
                                        <th>Movimentações</th>
                                        <th>Ações</th>


                                </tr>
                        </thead>
                        <tbody class="text-center">
                                <tr>
                                </tr>
                        </tbody>
                </table>
        </div>
</div>